
<nav>
    <div class="site-title">
        <a href=""><h1>Blog Rodrigo</h1></a>
        <p>Meu Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/blogs/create">Novo Blog</a></li>
    </ul>
</nav>