<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/head.ejs') %>

<body>
    <nav>
        <div class="site-title">
            <a href=""><h1>Blog Rodrigo</h1></a>
            <p>Meu Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/blogs/create">Novo Blog</a></li>
        </ul>
        
    </nav>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ullam ut? Quam magnam sequi est ea neque. Obcaecati labore vero voluptate, impedit similique amet ab nostrum eos nesciunt, laudantium alias.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ullam ut? Quam magnam sequi est ea neque. Obcaecati labore vero voluptate, impedit similique amet ab nostrum eos nesciunt, laudantium alias.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ullam ut? Quam magnam sequi est ea neque. Obcaecati labore vero voluptate, impedit similique amet ab nostrum eos nesciunt, laudantium alias.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ullam ut? Quam magnam sequi est ea neque. Obcaecati labore vero voluptate, impedit similique amet ab nostrum eos nesciunt, laudantium alias.
        </p>
    </div>

    <%- include('./Partials/footer.ejs') %>

</body>
</html>